##
## EXAMPLE FOR .env file
## Rename this file to .env and complete the fields
##

GOOGLE_API_KEY={insert Google API key}
GEMINI_API_KEY={insert Gemini/Google API key}
VITE_API_BASE_URL=http://localhost:8000

OPENAI_API_KEY={insert OpenAI-compatible API key}
OPENAI_BASE_URL={insert API server URL}
OPENAI_MODEL={insert desired model name}

COOKIE_SECURE={False for local, True (default) for production}
